body, html
{
	margin: 0;
	padding: 0;
}

.separator
{
	clear: both;
}

#diceArea
{
	margin: 0 0 20px 0;
}

.dice
{
	display: inline;
	float: left;
	width: 15px;
	padding: 5px;
	margin: 0 5px;
	text-align: center;
	cursor: pointer;
}

.hold
{
	color: #ffffff;
	background: #aaaaff;
}

#buttonArea
{
	height: 30px;
}

#winsLeft, #winsRight
{
	display: inline;
	float: left;
	margin: 0 20px 0 0;
}

.winField
{
	width: 150px;
	padding: 5px;
	clear: both;
	height: 20px;
}

.winField label
{
	display: inline;
	float: left;
}

.winField span
{
	display: inline;
	float: right;
}

.freeze
{
	background: #ffff00;
}

.frozen
{
	background: #ff0000;
}

#points
{
	width: 150px;
	padding: 10px 15px 0 185px;
	margin: 5px 0 0 0;
	border-top: solid 1px #555;
}